@page "/"
@inject IAlbumService _albumService

@if (albums == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <h1 class="text-center text-muted">Albums</h1>

        <div class="row mb-3">
            <div class="col-md-12"><a class="btn btn-primary" href="/albumadd">Add new album</a></div>
        </div>
    </div>

    @for(int i = 0; i < NumberOfRows; i++)
    {
        <div class="row">
            @foreach(var album in albums.Skip(i * 3).Take(3))
            {
                <div class="col-sm-6 col-md-4">
                    <div>
                        <a href="/albumview/@album.Id">
                            <img src="data:image/png;base64,@(Convert.ToBase64String(album.CoverImage))" />
                        </a>
                        <div>
                            <h6><a href="/albumview/@album.Id">@album.Title</a></h6>
                            <span>@album.Author</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@code {    
    IEnumerable<Album> albums;    
    
    public int NumberOfRows { get; set; } = 10;

    protected override async Task OnInitializedAsync()
    {        
        albums = await _albumService.GetAlbums();
    }
}
