@page "/albumview/{id:int}"

@inject IAlbumService _albumService;

@if(album != null && album.Songs != null)
{
    <div class="row mb-5">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <div>
                <img src="data:image/png;base64,@(Convert.ToBase64String(album.CoverImage))" />
                <h1>@album.Title</h1>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    
    @foreach(var song in album.Songs)
    {
        <div class="row offset-1">
            <div class="col-md-4">
                <span>@song.Name</span>
            </div>
            <div class="col-md-4">
                <audio id="@song.Id" controls="controls" src="/songs/@song.Path"></audio>
            </div>
        </div>
    }
}
else
{
    <p><em>Loading...</em></p>    
}

@code {
    [Parameter]
    public int id { get; set; }

    Album album;

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            album = await _albumService.GetAlbum(id);
        }
    }

    
}